<ion-header>
  <ion-toolbar  color="logo">
    <ion-menu-toggle>
<ion-button side="start">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
</ion-menu-toggle>
    <ion-title>
      {{'change_password.change_password'|translate}}
    </ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form  [formGroup]='addReginForm'>
    <ion-row>
      <ion-col >
        <ion-input formControlName="password"   [type]="!showPassword ? 'password' : 'text'" placeholder="{{'change_password.password'|translate}}"></ion-input>
      </ion-col>
    </ion-row>
    <div *ngIf="(!addReginForm.controls.password?.valid && (addReginForm.controls.password?.dirty || submitReg))" class="erreurMsg">&nbsp;
      <span *ngIf="addReginForm.hasError('minlength',['password'])">{{'errors.min-length.8'|translate}}</span>
      <span *ngIf="addReginForm.hasError('required',['password'])">{{'errors.required'|translate}}</span>
      &nbsp;
    </div>
    <ion-row>
      <ion-col >
        <ion-input formControlName="vpassword" [type]="!showPassword ? 'password' : 'text'" placeholder="{{'change_password.password'|translate}}"></ion-input>
        <ion-icon *ngIf="!showPassword" (click)="cahngepasswordView()" color="primary" item-end name="eye">
        </ion-icon>
        <ion-icon *ngIf="showPassword" (click)="cahngepasswordView()" color="primary" item-end name="eye-off">
        </ion-icon>
      </ion-col>
    </ion-row>
    <div *ngIf="(!addReginForm.controls.vpassword?.valid && (addReginForm.controls.vpassword?.dirty || submitReg))" class="erreurMsg">&nbsp;
      <span *ngIf="addReginForm.hasError('required',['vpassword'])">{{'errors.required'|translate}}</span>
      <span *ngIf="addReginForm.hasError('notEquivalent',['vpassword'])">{{'errors.notConform'|translate}}</span>
      &nbsp;
    </div>


    <ion-button (click)="changePassword()" expand="full" slot="start">
      <ion-icon name="md-checkmark"></ion-icon>
      {{'change_password.change'|translate}}
    </ion-button>
  </form>
</ion-content>
