<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSUserTrackingUsageDescription</key>
<string>Le Tracking d'emplacement est obligatoire pour que nous puissions vous notifier des annonces à proximité</string>
	<key>CLIENT_ID</key>
	<string>718914892306-f538ir2e7nb79ronp2rdbpncag5gh8c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718914892306-f538ir2e7nb79ronp2rdbpncag5gh8c6</string>
	<key>API_KEY</key>
	<string>AIzaSyAJZfRjG4ZnEAaXu4_eZ1jSPUGJdvUXqIA</string>
	<key>GCM_SENDER_ID</key>
	<string>718914892306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convertoagency.onatrouve</string>
	<key>PROJECT_ID</key>
	<string>onatrouver-bdb2b</string>
	<key>STORAGE_BUCKET</key>
	<string>onatrouver-bdb2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718914892306:ios:81a98611713bc398c5decb</string>
</dict>
</plist>
