<ion-header>
  <ion-toolbar color="logo">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'menu.Mes_annonces'|translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [placeholder]="('favoris.search'|translate)"
                 (ionInput)="getdatfromdateBase($event)"></ion-searchbar>
  <div *ngIf="filtred.length == 0" class="no-content">
    <h4>{{'not_found.annonces'|translate}}</h4>
  </div>
  <ion-spinner name="dots" class="loadwhensearch" *ngIf="showSpinner"></ion-spinner>
  <ion-list class="chat-sliding-demo">
    <ion-item-sliding class='animated fadeIn' *ngFor="let product of filtred;let i=index;" #item>
      <ion-item (click)="gotoDetails(product)">
        <ion-avatar class='animated fadeIn' slot="start">
          <ion-img [src]="product.src" imageViewer></ion-img>
          <ion-icon class="fav-icon" name="person"></ion-icon>
        </ion-avatar>
        <ion-row class="groupe-info">
          <h2>{{product.title}}</h2>
          <p>{{product.description}}</p>
          <ion-row class="info-row">
            <ion-col size="3">
              <ion-note *ngIf="product.price">
                {{product.price}}
                <span class="euro">{{'favoris.price_symbol'|translate}}</span>
              </ion-note>
            </ion-col>
            <ion-col>
              <ion-note>
                <ion-icon ios="star" md="star">{{product.rate}}</ion-icon>
              </ion-note>
            </ion-col>
            <ion-col size="4">
              <ion-note>
                <ion-icon ios="star" md="people">{{product.visitor}}</ion-icon>
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-row>
        <ion-note slot="end">
          {{ product.updated_at | timeAgo:'ar'}}
        </ion-note>
<!--        <ion-icon class="custom-index" name="arrow-back"></ion-icon>-->
      </ion-item>

      <ion-item-options>
        <ion-button color="danger" (click)="delete(product,i)">
          <ion-icon name="trash"></ion-icon>
          {{'favoris.delete'|translate}}
        </ion-button>
        <ion-button color="primary" (click)="edit(product)">
          <ion-icon name="create-outline"></ion-icon>
          {{'favoris.update'|translate}}
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll *ngIf="!searchTerm" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<app-footer></app-footer>
