<ion-menu contentId="main-content" menuId="first" swipeEnabled="false" side="start" swipeGesture="false">
  <ion-header>
    <ion-toolbar color="logo">
      <ion-title></ion-title>
      <ion-buttons slot="end">
        <ion-icon name="close" class="close" (click)="goto('home')"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="logo-container">
    <img src="assets/imgs/icon.png"/>
  </div>
  <ion-content>
    <!--<div class="separator"></div>
    <div class="headerBar">
      <div class="logoback"></div>
      <div class="logoContainer">
        <img src="assets/imgs/icon.png" />
      </div>
    </div>-->
    <!--<ion-icon name="close" class="animated fadeIn closebutton" ></ion-icon>-->
    <ion-list class="ion-margin-top">
<!--      <ion-item (click)="goto('map')">-->
<!--        <ion-icon color="primary" name="home" slot="start"></ion-icon>-->
<!--        <ion-label>{{'menu.acceuil'|translate}}</ion-label>-->
<!--      </ion-item>-->
      <ion-item (click)="goto('products')">
        <ion-icon color="primary" name="list-outline" slot="start"></ion-icon>
        <ion-label color="dark">{{'menu.Toutes_les_annonces'|translate}}</ion-label>
      </ion-item>
<!--      <ion-item id="subCategoryBtn" (click)="showrow = !showrow">-->

<!--        <ion-icon color="primary" name="list" slot="start"></ion-icon>-->
<!--        <ion-label color="dark">{{'menu.Categories'|translate}}</ion-label>-->
<!--        <ion-icon [class.rotate-icon]="showrow" class="showRow" item-end name="arrow-forward"></ion-icon>-->
<!--        &lt;!&ndash;<ion-icon *ngIf="!showrow" class="showRowDown" item-end name="md-arrow-dropdown"></ion-icon>&ndash;&gt;-->
<!--      </ion-item>-->
<!--      <app-categories-list-->
<!--        (categoryClick)="fireMethod('openCategoryModal', $event)"-->
<!--        [isVisible]="showrow">-->
<!--      </app-categories-list>-->
      <!-- <ion-item *ngIf="services.isLoggedIn" (click)="fireMethod('goto', 'favorites')">
        <ion-icon name="star" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.Mes_favoris'|translate}}</ion-label>
      </ion-item> -->

      <ion-item *ngIf="services.isLoggedIn" (click)="fireMethod('goto', 'suivi')">
        <ion-icon name="locate-outline" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.Recherche'|translate}}</ion-label>
      </ion-item>

      <ion-item *ngIf="services.isLoggedIn" (click)="fireMethod('goto', 'finders')">
        <ion-icon name="search" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.Mes_recherches'|translate}}</ion-label>
      </ion-item>

      <!-- <ion-item *ngIf="services.isLoggedIn"
                (click)="fireMethod('goto', 'add-product')">
        <ion-icon name="create-outline" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.Creer_annonce'|translate}}</ion-label>
      </ion-item> -->

      <ion-item *ngIf="services.isLoggedIn" (click)="fireMethod('goto','mes-annonces')">
        <ion-icon name="albums-outline" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.Mes_annonces'|translate}}</ion-label>
      </ion-item>

      <ion-item *ngIf="!services.isLoggedIn" (click)="fireMethod('goto', 'login')">
        <ion-icon name="key-outline" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.identifier'|translate}}</ion-label>
      </ion-item>

      <ion-item *ngIf="!services.isLoggedIn" (click)="fireMethod('goto', 'register')">
        <ion-icon name="log-in" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.enregistrer'|translate}}</ion-label>
      </ion-item>

      <ion-item *ngIf="services.isLoggedIn" (click)="fireMethod('logout')">
        <ion-icon name="log-out" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.Deconnexion'|translate}}</ion-label>
      </ion-item>
      <ion-item *ngIf="services.isLoggedIn" (click)="profileEdit()">
        <ion-icon name="person" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{services.current_user.last_name}}</ion-label>
      </ion-item>
      <!--<ion-button (click)="fireMethod('openLangModal')" ion-item  >
        <ion-icon name="md-globe" slot=start color="primary"></ion-icon>
        <ion-label color="dark">{{'settings.lang'|translate}}</ion-label>
      </button>-->
      <!-- <ion-item (click)="fireMethod('openInfoModal')">
        <ion-icon name="information-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.Info'|translate}}</ion-label>
      </ion-item> -->
      <ion-item (click)="openModal()">
        <ion-icon name="information-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-label color="dark">{{'menu.Info'|translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
