<ion-content>
  <div *ngIf="!filtered?.suivi_target?.done" class="no-content">
    <h4>{{'not_found.recherche_sauvegarde'|translate}}</h4>
  </div>
  <ion-spinner name="dots" class="loadwhensearch" *ngIf="showSpinner"></ion-spinner>
  <ion-list class="chat-sliding-demo">
    <ion-item-sliding class='animated fadeIn' *ngFor="let product of filtered.products;let i=index;" #item>
      <ion-item>
        <ion-avatar class="animated fadeIn avatarimg" slot="start">
          <img [src]="product.src">
        </ion-avatar>
        <ion-row>

          <ion-col size="6" (click)="gotoDetails(product)" class="info-row">
            <h2 (click)="gotoDetails(product)" style="    white-space: nowrap;">{{product?.title}}</h2>
            <ion-row>
              <ion-note *ngIf="product?.price">
                {{product?.price}}
                <span class="euro">€</span>
              </ion-note>
              <ion-note>
                {{getDistanceFromLatLonInKm(product)}}
                {{'favoris.km'|translate}}
              </ion-note>
            </ion-row>
          </ion-col>
          <!--          <ion-col size="6" class="ion-align-self-center">-->
          <!--          </ion-col>-->
        </ion-row>
      </ion-item>
    </ion-item-sliding>
    <ion-item *ngIf="filtered?.suivi_target?.done">
      <ion-label>{{'recherche.continuer_suivi' |translate}} {{filtered?.products[0]?.product?.title}}</ion-label>
      <ion-toggle (ionChange)="activeWatchPosition($event)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
